[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DepLogo"]
	path = DepLogo
	url = https://github.com/cran/DepLogo
[submodule "PRROC"]
	path = PRROC
	url = https://github.com/cran/PRROC
